.awesome-container {
	font-family: Raleway, sans-serif;
	width: 1170px;
	height: 665px;
	margin: 0 auto;
	margin-bottom: 58px;
}

.awesome-container h2 {
	text-transform: uppercase;
	text-align: center;
	width: 1170px;
	height: 150px;
	line-height: 150px;
	font-weight: 400;
	font-size: 36px;
}

div.separator {
	border: 0.5px solid #EC7979;
	width: 170px;
	margin: 0 auto;
}

.awesome-container h5.awesome-container__subtitle {
	color: #86878B;
	text-align: center;
	height: 21px;
	font-size: 18px;
	margin-top: 40px;
	font-weight: 400;
}

.awesome-subcontainer__articles {
	margin-top: 71px;
}

.awesome-subcontainer__articles article {
	display: inline-block;
	margin-right: -5px;
	width: 370px;
	height: 383px;
	font-weight: 400;
}

.awesome-subcontainer__articles article img {
	display: block;
	margin: auto;
}

.awesome-subcontainer__articles article h4 {
	text-align: center;
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 100px;
	height: 100px;
}

.awesome-subcontainer__articles article h5 {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	margin-top: 8px;
	font-weight: 400;
}

.awesome-subcontainer__articles article:nth-of-type(2) {
	margin: 0 30px;
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
	.awesome-container {
		width: 992px;
	}
	
}