.customers-container {
    font-family: Raleway, sans-serif;
    width: 1170px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 64px;
}

.customers-container h2 {
    text-transform: uppercase;
    width: 1170px;
    height: 150px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.separator {
    border: 0.5px solid #EC7979;
    width: 170px;
    margin: 0 auto;
}

.customers-container h5.customers-subcontainer__subtitle {
    color: #86878B;
    text-align: center;
    height: 21px;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 400
}

.customers-container section.customers-subcontainer__managers {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}

.customers-subcontainer__managers section.customers-subcontainer__comments div.polygon {
    border: none;
    margin-left: 70px;
    width: 30px;
    height: 20px;
    right: -30px;
    top: 20px;
    border: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.customers-subcontainer__managers section.customers-subcontainer__comments h5.text {
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background: #E2E2E2;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #86878B;
}

.customers-subcontainer__managers section.customers-subcontainer__comments div.customers-subcontainer__manager {
    display: flex;
    margin-top: 31px;
}

.customers-subcontainer__managers section.customers-subcontainer__comments div.customers-subcontainer__manager div.name-customer {
    margin-left: 30px;
}

.customers-subcontainer__managers section.customers-subcontainer__comments div.customers-subcontainer__manager div.name-customer h4 {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 54px;
    display: flex;
    align-items: center;
}

.customers-subcontainer__managers section.customers-subcontainer__comments div.customers-subcontainer__manager div.name-customer h5 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
}

.customers-subcontainer__managers section.customers-subcontainer__comments div.customers-subcontainer__manager img {
    margin-bottom: 15px;
}