footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 164px;
    background: #000;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

footer h5 {
    font-family: Raleway, sans-serif;
    margin-top: 27.8px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
}

.footer-container :nth-of-type(2) {
    margin: 0 44px;
}

.footer-container :nth-of-type(4) {
    margin: 0 44px;
}

.footer-container :nth-of-type(6) {
    margin: 0 44px;
}